* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

/* h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
} */

h1 {
  font-size: 70px;
  line-height: 80px;
  color: #222;
}

h2 {
  font-size: 50px;
  line-height: 75px;
  color: #222;
}

/* h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
} */

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #088178;
  border: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* nav start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  width: 170px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 3px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}
/* nav end */

/* home start */
.hero {
  background-image: url("../images/flat-lay-assortment-macarons-with-roses-copy-space_23-2148489044.avif");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h4 {
  padding-bottom: 15px;
}

.hero h1 {
  color: #088178;
}

.hero button {
  background-image: url("../images/button.png");
  background-color: transparent;
  /* color: #088178; */
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#services {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  /* margin-left: 100px;
  margin-right: 100px; */
}

.services-container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  flex-wrap: wrap;
}

#services .serv {
  width: 30%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  cursor: pointer;
}

#services .serv:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#services .serv img {
  width: 100%;
  border-radius: 20px;
}

#services .serv .desc {
  /* text-align: start; */
  padding: 10px 0;
}

#services .serv .desc h5 {
  font-size: 24px;
  color: #1a1a1a;
  padding-top: 7px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/delicious-cake-arrangement-top-view_23-2148933607.avif");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  /* color: #068d53; */
  color: darkgreen;
  font-size: 24px;
}

#banner h2 {
  /* color: #068d53; */
  color: darkgreen;
  font-size: 35px;
  padding: 20px 0;
}

#banner button {
  margin-top: 10px;
}

#banner button:hover {
  background: #fff;
  color: #088178;
  border: 2px solid #088178;
}

#featured {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  margin-bottom: 80px;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
}

#featured .featured1 {
  width: 22%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  cursor: pointer;
}

#featured .featured1:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#featured .featured1 img {
  width: 90%;
  border-radius: 20px;
}

#featured .featured1 .feat-desc {
  /* text-align: start; */
  padding: 10px 0;
}

#featured .featured1 .feat-desc h5 {
  font-size: 24px;
  color: #1a1a1a;
  padding-top: 7px;
}
/* home end */

/* page header */
.page-header {
  /* background-image: url("../images/muffins-candles-aalaw-sprinkles-corner-pink-background_23-2148190399.avif"); */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../images/muffins-candles-aalaw-sprinkles-corner-pink-background_23-2148190399.avif");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

.page-header h2,
.page-header p {
  color: #fff;
}
/* end page header */

/* start services */

/* end services */

/* start menus */
#menu {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  margin-bottom: 80px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
}

#menu .menu1 {
  width: 22%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}

#menu .menu1:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#menu .menu1 img {
  width: 80%;
  border-radius: 20px;
}

#menu .menu1 .menu-desc {
  /* text-align: start; */
  padding: 10px 0;
}

#menu .menu1 .menu-desc h5 {
  font-size: 24px;
  color: #1a1a1a;
  padding-top: 7px;
}

#menu .menu1 .menu-desc button{
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
}

#menu .menu1 .menu-desc button:hover{
  background: #fff;
  color: #088178;
  border: 2px solid #088178;
}
/* end menus */

/* footer start */
hr.horizontal {
  border-top: 8px solid #041e42;
  /* border-radius: 5px; */
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

.copyright {
  background: #e3e6f3;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.copyright p {
  margin-top: 20px;
}
/* footer end */

@media (max-width: 900px) {
  .logo {
    width: 120px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 20px;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 25px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 28px;
  }

  #lg-login {
    display: none;
  }

  .hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  .services-container {
    justify-content: center;
  }

  .featured-container {
    justify-content: center;
  }

  #services .serv {
    margin: 20px 20px;
  }

  #services .serv .desc h5 {
    font-size: 19px;
  }

  #featured .featured1 {
    margin: 20px 20px;
  }

  #featured .featured1 .feat-desc h5 {
    font-size: 19px;
  }

  h2 {
    font-size: 38px;
  }

  #banner h2 {
    font-size: 20px;
    padding: 10px 0;
  }

  /* menu page */

  .menu-container {
    justify-content: center;
  }

  #menu .menu1 {
    margin: 20px 20px;
  }

  #menu .menu1 .menu-desc h5 {
    font-size: 19px;
  }
}

@media (max-width: 700px) {
  #header {
    padding: 23px 23px;
  }
}

@media (max-width: 500px) {
  .section-p1 {
    padding: 40px 65px;
  }

  #header {
    padding: 15px 15px;
  }

  .logo {
    width: 100px;
  }

  #mobile a {
    font-size: 15px;
  }

  #mobile i {
    font-size: 20px;
  }

  #navbar {
    width: 240px;
  }

  .hero {
    padding: 0 40px;
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  #services .serv .desc h5 {
    font-size: 15px;
  }

  #banner h2 {
    font-size: 20px;
    padding: 10px 0;
  }

  #featured .featured1 .feat-desc h5 {
    font-size: 15px;
  }
}
